<launch>
	<arg name="sim" default="false"/>

	<group if="$(eval sim == true)">
    	<include file="$(find iai_hsr_sim)/launch/ros_control_sim.launch" />
    	<include file="$(find giskardpy)/launch/giskardpy_hsr.launch" >
        	<arg name="sim" value="true"/>
		</include>
	</group>

	<group if="$(eval sim == false)">
    	<include file="$(find giskardpy)/launch/giskardpy_hsr.launch" >
        	<arg name="sim" value="false"/>
		</include>
	</group>

	<node pkg="object_state_listener" name="giskard_object_state_listener" type="object_state_listener" output="screen"/>

</launch>