<launch>
	<arg name="load_map" default="true"/>

	<include file="$(find giskardpy)/launch/giskardpy_hsr_gazebo.launch"/>

	<node pkg="suturo_manipulation" name="take_pose_server" type="take_pose_server.py" output="screen"/>

	<group if="$(eval load_map == true)">
		<node pkg="suturo_manipulation" name="upload_env" type="upload_env.py" output="screen"/>
	</group>
	
	<!-- node pkg="suturo_manipulation" name="milestone1_showcase" type="milestone1_showcase.py" output="screen"/!-->

</launch>